body {
  display: grid;
  grid-template-rows: 75px 450px 75px;
  height: 100vh;
}
body,
button {
  font-family: cursive;
  color: white;
}

header,
footer,
button,
.snake-cell {
  background-color: #fa9923;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #015858;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
  padding: 25px;
}

.board {
  background-color: white;
  height: 400px;
  width: 400px;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  height: 100%;
}

.food-cell,
.display {
  background-color: #2370fa;
}

.display {
  min-width: 250px;
  height: 100%;
  justify-self: start;
  display: grid;
  align-items: center;
  justify-content: center;
}

.score-display {
  text-align: center;
}

button {
  padding: 4px;
  border: 1px black solid;
  border-radius: 5px;
}
