body {
  display: grid;
  grid-template-rows: 75px 450px 75px;
  height: 100vh;
}

header {
  background-color: blue;
}

main {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
  padding: 25px;
}

.board-container {
  background-color: yellow;
  height: 400px;
  width: 400px;
  justify-self: end;
}

.board {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  height: 100%;
}

.cell {
  border: 1px black solid;
}
.display {
  background-color: orange;
  min-width: 250px;
  height: 100%;
  justify-self: start;
}

footer {
  background-color: red;
}
